$bp-xl : 75em; //1200px
$bp-l : 68.75em; //1100px;
$bp-m : 56.25em; //900px
$bp-s : 37.5em; //600px
$bp-xs : 31.25em; //500px

:root{

    //variables will be stored here so they are accessed throughout the project

    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #cccccc;

    --color-grey-dark-1: #333333;
    --color-grey-dark-2: #777777;
    --color-grey-dark-3: #999999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
    --line: 1px solid var(--color-grey-light-2);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);


}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-l){
        font-size: 50%;
    }
}

body{

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;

    color: var(--color-grey-dark-2);

    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;

    min-height: 100vh;

}