.footer{
    background-color: $color-grey-dark-3;
    font-size: 1.4rem;
    padding:10rem 0;

    @include respond(tab-port){
        padding: 5rem 0;
    }

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {

                margin-bottom: 2rem;
        }

    }

    &__logo{
        width: 15rem;
        height: auto;

        @include respond(phone) {

            width: 25rem;
    }

        
    }

    &__navigation{

        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem; 
        display: inline-block;

        @include respond(tab-port){
            border-top: 1px solid transparent;
            width: 100%;
            text-align: center;
        }
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:visited,
        &:link{
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 0.5rem 0rem;
            transition:all .2s ease;
        }

        &:hover,
        &:active{
            padding: .5rem 1rem;
            color: $color-primary;
            box-shadow: 0 1rem 1rem rgba($color: $color-black, $alpha: 0.1);
            transform: rotate(-3deg) scale(1.2);
        }
    }

    &__copyright{
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem; 
        float: right;
        text-align: right;
        width: 80%;


        @include respond(tab-port){
            width: 100%;
            float: none;
            text-align: center;
            
        }
    }

}