.navigation{
    &__checkbox{
        display: none;
    }

    &__button{

        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.2);

    }

    &__background{

        height: 6rem;
        width: 6rem;
        border-radius: 50%;
       
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        transition: transform .8s cubic-bezier(.48,1.28,.45,-0.34);
    }

    &__nav{
        height: 100%;
        width: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 1500;
        
        opacity: 0;
        visibility: hidden;

        transition: all .8s ease;
    }

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style: none;
    }

    &__item{
        margin-bottom: 1.5rem;
        
    }

    &__link{

        &:link,
        &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        padding:.5rem 1.5rem;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 220%;

        transition:all .4s ease;
        }

        &:hover,
        &:active {
            transform: translateX(1rem);
            background-position: 100%;
            color: $color-primary;
        }
    }

    //FUNCTIONALITY

    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav{
        visibility: visible;
        opacity: 1;
       
    }

    //ICON

    &__icon{

        position: relative;

        margin-top: 3.5rem;

        &,
        &::after,
        &::before{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display:inline-block;
            
        }

        &::after,
        &::before{
            content:"";
            position: absolute;
            left:0;
            transition: all .2s ease-in;
        }

        &::before{
            top: -0.8rem;
          
        }

        &::after{
            top: 0.8rem;
          
        }

    }

    &__button:hover &__icon::before{
        transform: translateY(-0.2rem);
    }

    &__button:hover &__icon::after{
        transform: translateY(0.2rem);
    }   
    
    &__checkbox:checked + &__button &__icon {

        background-color: transparent;

        &::before{
          top: 0rem;
          transform: rotate(45deg);
        }

        &::after{
           top: 0rem;
           transform: rotate(-45deg);
        }

    }

   

}
